<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 well" data-ng-cloak>
  <div class="row">
    <div class="col-xs-6">
      <h4>Browser Runtime settings:</h4>
    </div>
    <div class="col-xs-6">
      <!-- build:template
      <em class="pull-right">v<%= version %></em>
      /build -->
    </div>
  </div>
  <ul class="list-group list-group-with-buttons">
    <li class="list-group-item">
      <strong>Clear KevScript cache</strong>
      <button class="btn btn-sm btn-warning pull-right" data-ng-click="clearKevSCache()" data-ng-disabled="getKevSCacheLength() === 0">Clear</button>
    </li>
  </ul>
</div>
