<div data-ng-cloak>
  <div class="col-md-4 col-md-offset-2 well">
    <h3 class="text-center">What about that runtime?</h3>
    <hr/>
    <p class="text-justify">
      This web app provides a way to run a <strong>Kevoree JavaScript</strong> node directly in your browser.
      It acts pretty much as the other Kevoree runtimes but considering that you are in a browser environment
      you will face some <strong>limitations</strong>, but will also be able to give your Kevoree component a
      <strong>UI frontend</strong>!
    </p>
    <hr/>
    <h4 class="text-left">Browser limitations:</h4>
    <p class="text-justify">
      You cannot run any <strong>server</strong> in a browser. It means that you will have to use a Kevoree
      <strong>group</strong> that uses a <em>centralized</em> architecture.
      Real-time communications from a browser to some endpoint can be made using <strong>Web Sockets</strong>,
      though this runtime uses Kevoree's <strong>RemoteWSGroup</strong> by default.
    </p>
    <p class="text-justify">
      The <strong>RemoteWSGroup</strong> allows nodes to share models using an external endpoint. We provide a public
      one at <strong>ws://ws.kevoree.org</strong>
    </p>
    <hr/>
    <h4 class="text-left">See my runtime model:</h4>
    <p class="text-justify">
      In order to view your runtime Kevoree model, you can use the Web editor
    </p>
    <p class="text-center">
      <a data-ng-href="http://editor.kevoree.org/?host={{WS_HOST}}&port={{WS_PORT}}&path={{APP_ID}}" target="_blank">
        Kevoree Web Editor <i class="fa fa-external-link"></i>
      </a>
    </p>
  </div>
  <div class="col-md-3 col-md-offset-1 well">
    <h3 class="text-center">Start my own node</h3>
    <hr/>
    <div class="alert alert-danger" data-ng-show="error">
      <button type="button" class="close" data-ng-click="closeError()"><span>&times;</span></button>
      {{error}}
    </div>
    <fieldset data-ng-disabled="processing">
      <form name="form" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-4 control-label" for="runtimeNodeName">Node name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="runtimeNodeName" id="runtimeNodeName" placeholder="Enter a node name" data-ng-model="runtime.nodeName" data-ui-keypress="{13:'start()'}">
          </div>
        </div>
        <div class="form-group">
          <label for="groupName" class="col-sm-4 control-label">Group name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="groupName" data-ng-model="runtime.groupName" placeholder="Enter a group name" data-ui-keypress="{13:'start()'}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="runtimeWSHost">Broker host</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="runtimeMasterGroupPort" id="runtimeWSHost" placeholder="WS host url" data-ng-model="runtime.ws_host" data-ui-keypress="{13:'start()'}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="runtimeWSPort">Broker port</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="runtimeMasterNodeName" id="runtimeWSPort" placeholder="WS broker port" data-ng-model="runtime.ws_port" data-ui-keypress="{13:'start()'}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="runtimeWSPath">Broker path</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="runtimeMasterNodeIP" id="runtimeWSPath" placeholder="Shared ID between your nodes on the same group" data-ng-model="runtime.ws_path" data-ui-keypress="{13:'start()'}">
          </div>
        </div>
        <hr/>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="button" class="btn btn-default" data-ng-click="start()" data-ng-disabled="processing">Start my node <i class="fa fa-cog fa-spin" data-ng-show="processing"></i></button>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
