<ul data-gridster="gridsterOptions">
    <li class="box" data-gridster-item="widget" data-ng-controller="WidgetCtrl" data-ng-repeat="widget in widgets">
        <div class="box-header">
            <div class="box-header-sizing">
                <div class="box-header-sizing">
                    <input type="number" data-ng-model="widget.sizeX">
                </div>
                <div class="box-header-sizing">
                    <input type="number" data-ng-model="widget.sizeY">
                </div>
            </div>
            <h4>{{ widget.name }}</h4>
        </div>
        <div id="{{ widget.name }}" class="box-content"></div>
    </li>
</ul>