<div class="well" data-ng-cloak>
  <div class="row">
    <div class="col-xs-6">
      <h4>Platform details:</h4>
    </div>
    <div class="col-xs-6">
      <div class="pull-right">
        <button class="btn btn-danger" data-ng-show="isStarted()" data-ng-click="stop()">Stop</button>
        <button class="btn btn-warning" data-ng-click="exit()">Exit <i class="fa fa-sign-out"></i></button>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Started at</strong>
      <span class="pull-right">{{ startTime | date:'dd/MM/yyyy HH:mm:ss' }}</span>
    </li>
    <li class="list-group-item">
      <strong>Uptime</strong>
      <span class="pull-right">{{ uptime() | uptime }}</span>
    </li>
    <li class="list-group-item" data-ng-hide="isStarted()">
      <strong>Stopped at</strong>
      <span class="pull-right">{{ stopTime | date:'dd/MM/yyyy HH:mm:ss' }}</span>
    </li>
    <li class="list-group-item clearfix" data-ng-show="grps.length > 0">
      <strong>Attached groups</strong>
      <div class="pull-right">
        <ul class="list-unstyled">
          <li data-ng-repeat="grp in grps">
            Open in
            <a href="http://editor.kevoree.org/#/?host={{grp.host}}&port={{grp.port}}&path={{grp.path}}" target="_blank">
            Kevoree Web Editor <i class="fa fa-external-link"></i>
            </a>
             using <strong>{{ grp.name }}</strong>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
